
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Matt Brothen Profile</title>
</head>
<body>
    <header>
        <!--Insert image of self include motto word or phrase about page-->
        <img src="bitmoji.png" alt="Matt Brothen Avatar">
        <h1>Matt Brothen</h1>
    </header>
    <nav>
        <!--Insert navigation menu, about.html, contact.html portfilio.html use UL-->
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="portfolio">Portfolio</a></li>
        </ul>

    </nav>
    <main>
            <!--2 paragraph about page-->
            <h2>Who's Matt?</h2>
            <p>Matt is a web software development student out of Kenosha Wisconsin.  Matt specializes in fullstack web development.  My tools include using PHP, Java, and javascript for backend application development.  MySQL and mongoDB for datamanagment.  Reach Angular and Sass for front end development.<br>From an organization webpage to a full fledged web application I can build it.</p>

        <section>
            <!---->
            <h2>MEAN Application Development</h2>
            <p>Creating modern, flexible, interactive applications using MongoDB, Express, Node.js, and Angular.</p>
        </section>
        <section>
            <h2>Java Application Development</h2>
            <p>Web, desktop and mobile applications using J2EE java technologies.</p>
            <ul id='javaskills'>
                <li>JavaFX</li>
                <li>Javaserver Faces</li>
                <li>Servelets</li>
                <li>Javaserver Pages</li>
                <li>Spring</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>Copyright 2019 Matt Brothen</p>

    </footer>    
</body>
<script src="main.js"></script> 
</html>