
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Matt Brothen Profile</title>
</head>
<body>
    <header>
        <!--Insert image of self include motto word or phrase about page-->
        <img src="bitmoji.png" alt="Matt Brothen Avatar">
        <h1>Matt Brothen</h1>
    </header>
    <nav>
        <!--Insert navigation menu, about.html, contact.html portfilio.html use UL-->
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="portfolio">Portfolio</a></li>
        </ul>
    </nav>

    <main>
            <!--2 paragraph about page-->
            <h2>Who's Matt?</h2>
            <p>Matt is a web software development student out of Kenosha Wisconsin.  Matt specializes in fullstack web development.  My tools include using PHP, Java, and javascript for backend application development.  MySQL and mongoDB for datamanagment.  Reach Angular and Sass for front end development.<br>From an organization webpage to a full fledged web application I can build it.</p>

        <section>
            <!---->
            <h2>Contact Matt</h2>
            <p>Send me a message and I'll get back to you</p>
            <form name='ContactForm' method="post" onSubmit={this.handleSumit.bind(this)}>
                <div>
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" name="firstName" required="requierd"/>
                </div>
                <div>
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="lastName" name="lastName" reqiured = "required" />
                </div>

                <div>
                    <label for="email">Email Address:</label>
                    <input type="email" id="email" name="email" required="required" />
                </div>
                <div>
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" required="required"></textarea>
                </div>
                <div>
                    <button type="button" id="submit" name="submit">Submit</button>
                </div>
            </form>
            <div id="response">

            </div>
        </section>
    </main>
    <footer>
        
        <p>Copyright 2019 Matt Brothen</p>

    </footer>    
</body>
<script src="main.js"></script> 
</html>