
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Matt Brothen Profile</title>
</head>
<body>
    <header>
        <!--Insert image of self include motto word or phrase about page-->
        <img src="bitmoji.png" alt="Matt Brothen Avatar">
        <h1>Matt Brothen</h1>
    </header>
    <nav>
        <!--Insert navigation menu, about.html, contact.html portfilio.html use UL-->
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="portfolio">Portfolio</a></li>
        </ul>

    </nav>
    <main>
        <section>
            <h2>My Work</h2>
        </section>

        <section>
            <h2>PanTree</h2>
            <div class = "sidebyside">
            <aside>
                <img src="assets/app_placeholder.png" al="PanTree screenshot">
            </aside>
            <article>
                <p>
                    PanTree is your personal grocery assistant that helps keep your shopping list and the food you already have in sync.  Avoid food waste by knowing what you have and avoid overbuying.  Eliminate emergency trips to the grocery store through proper meal planning and accurate inventory levels.
                </p>
            </article>
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright 2019 Matt Brothen</p>

    </footer>    
</body>
<script src="main.js"></script> 
</html>